services:
  db:
    image: ghcr.io/tursodatabase/libsql-server:latest
    container_name: libsql_local
    ports:
      - "8080:8080" # Porta para conexões HTTP/WebSocket
      - "5001:5001" # Porta interna de inspeção/métricas (opcional)
    volumes:
      - ./data:/var/lib/sqld # Persiste o arquivo do banco na pasta 'data' do seu projeto
    environment:
      - SQLD_NODE=primary
    restart: unless-stopped