---
import { Code2, Zap } from "lucide-preact";
import Badge from "../ui/Badge.astro";

import type { Post } from "@/database/types";

interface Props {
    item: Post;
}

const { item } = Astro.props;
---

<div
    class="cursor-pointer h-full p-5 bg-zinc-900/40 border border-zinc-800 hover:border-emerald-500/50 hover:bg-emerald-900/5 transition-all duration-300 flex flex-col justify-between rounded-md relative shadow-none hover:shadow-[0_0_15px_-5px_rgba(16,185,129,0.1)] card-trigger"
>
    <div class="flex justify-between items-start">
        <div
            class="bg-emerald-500/10 p-2 rounded-md border border-emerald-500/20 text-emerald-400 mb-4 group-hover:bg-emerald-500/20 transition-colors"
        >
            <Code2 size={20} />
        </div>
        <Badge text={item.status || "Ready"} color="emerald" />
    </div>
    <div>
        <h3
            class="text-xl font-semibold text-zinc-100 mb-2 group-hover:text-emerald-50 transition-colors"
        >
            {item.title}
        </h3>
        <p class="text-sm text-zinc-400 mb-4">{item.description}</p>
    </div>
    <div
        class="mt-auto pt-4 border-t border-dashed border-zinc-800 group-hover:border-emerald-900/50 flex justify-between items-center transition-colors"
    >
        <span
            class="text-xs font-mono text-zinc-600 group-hover:text-emerald-600/70 transition-colors"
            >./bin/exec</span
        >
        <div
            class="flex items-center gap-2 text-xs font-bold text-emerald-400 bg-emerald-950/30 hover:bg-emerald-900 border border-emerald-900/50 hover:border-emerald-500/50 px-3 py-1.5 rounded transition-all uppercase tracking-wide"
        >
            <Zap size={12} /> Executar
        </div>
    </div>
</div>
