---
import Badge from "../ui/Badge.astro";
import type { Post } from "@/database/types";
import { getDomain, getThemeClasses } from "@/lib/utils";

interface Props {
    item: Post;
}
const { item } = Astro.props;
const { badgeClass } = getThemeClasses(item.type);
---

<div
    class="cursor-pointer h-full bg-zinc-900 border border-zinc-800 hover:border-violet-500/50 hover:bg-violet-900/5 transition-all duration-300 flex flex-col rounded-md overflow-hidden card-trigger"
>
    <div
        class="h-24 w-full bg-gradient-to-br from-violet-900/20 to-fuchsia-900/20 relative flex items-center justify-center border-b border-zinc-800 group-hover:border-violet-900/30 transition-colors"
    >
        <span
            class="font-bold text-xl text-white/10 tracking-widest uppercase group-hover:text-violet-500/20 transition-colors px-2"
            >{getDomain(item.url || "")}</span
        >
    </div>
    <div class="p-4 flex flex-col flex-1 justify-between">
        <div>
            <h3
                class="font-medium text-zinc-100 mb-1 flex items-center gap-2 group-hover:text-violet-100 transition-colors"
            >
                {item.title}
            </h3>
            <p class="text-xs text-zinc-400 leading-relaxed">
                {item.description}
            </p>
        </div>
        <div class="mt-4 flex gap-2 flex-wrap">
            {
                item.tags.map((tag: string) => (
                    <Badge text={`#${tag}`} colorClass={badgeClass} />
                ))
            }
        </div>
    </div>
</div>
