---
import { Cpu, Terminal } from "lucide-preact";
import type { Item } from "@/data/items";
interface Props {
    item: Item;
}
const { item } = Astro.props;
---

<div
    class="h-full p-6 bg-zinc-900 border border-zinc-700 flex flex-col justify-center rounded-md relative overflow-hidden"
>
    <div class="absolute top-0 right-0 p-4 opacity-5 text-zinc-100">
        <Cpu size={120} />
    </div>
    <h2 class="text-sm font-mono text-emerald-500 mb-2 flex items-center gap-2">
        <Terminal size={14} /> README.md
    </h2>
    <p class="text-lg font-medium text-zinc-200 leading-relaxed relative z-10">
        {item.description}
    </p>
</div>
