---
import Layout from "../../layout/Layout.astro";
import DetailView from "../../components/DetailView";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import Sidebar from "@/components/Sidebar.astro";
import Script from "@/components/Script.astro";
import getPostBySlug from "@/lib/getPostBySlug";
import { parseMarkdown } from "@/lib/utils";

const { slug } = Astro.params;

const { post, tagCounts, lastDeploy } = await getPostBySlug(slug || "");

if (!post) {
    return Astro.redirect("/");
}

/* 
Astro.response.headers.set(
	"Cache-Control",
	"public, max-age=60, s-maxage=600, stale-while-revalidate=30",
);
*/

post.content = await parseMarkdown(post.content || "");
---

<Layout title={post.title + " | andre_OS"}>
    <div class="min-h-screen relative" id="app-root">
        <Header searchParam={""} filterParam={""} />

        <div
            class="pt-20 px-4 md:px-6 max-w-[1600px] mx-auto grid grid-cols-1 lg:grid-cols-12 gap-8 transition-all"
        >
            <Sidebar
                tagCounts={tagCounts}
                currentFilter={""}
                currentSearch={""}
            />

            <main class={`flex lg:col-span-10`}>
                <DetailView post={post} />
            </main>
        </div>

        <Footer lastDeploy={lastDeploy} />
    </div>
</Layout>

<Script />
