@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

@page {
	size: A4;
	margin: 0;
}

body {
	font-family: "Roboto", sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f3f4f6;
	color: #000;
	-webkit-print-color-adjust: exact;
	print-color-adjust: exact;
	line-height: 1.4;
}

.a4-page {
	width: 210mm;
	min-height: 297mm;
	background-color: white;
	margin: 0 auto;
	position: relative;
	padding: 10mm 14mm 12mm 14mm;
	box-sizing: border-box;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
}

a {
	text-decoration: none;
}

/* --- CONFIGURAÇÃO DE IMPRESSÃO LIMPA E PADRÃO --- */
@media print {
	body {
		background-color: white;
	}

	.a4-page {
		width: 100%;
		height: 297mm;
		overflow: hidden;
		margin: 0;
		box-shadow: none;
		background: transparent;
		padding: 10mm 14mm 12mm 14mm;
	}
}
