---
import Layout from "../../layout/Layout.astro";
import { ChevronLeft } from "lucide-preact";
import { ToolLoader, ToolRegistry } from "@/tools";

export function getStaticPaths() {
    const paths = Object.keys(ToolRegistry).map((tool) => ({
        params: { name: tool },
    }));

    return paths;
}

const { name } = Astro.params;
---

<Layout title={name + " | andre_OS"}>
    <div class="flex flex-col min-h-screen overflow-hidden">
        <header
            class="w-full bg-zinc-950/80 backdrop-blur-md border-b border-zinc-800 h-14 flex items-center px-4 md:px-6 justify-between"
        >
            <a
                href="/"
                class="flex text-xs sm:text-sm items-center justify-start gap-2 rounded-md hover:border-zinc-600 hover:bg-zinc-800 transition-colors text-zinc-400 hover:text-white group"
            >
                <ChevronLeft
                    size={16}
                    class="group-hover:-translate-x-0.5 transition-transform"
                />
                Home
            </a>

            <div
                class="flex items-center text-xs sm:text-sm font-mono text-zinc-100 font-semibold tracking-tight"
            >
                {name}
            </div>
            <a
                href="/"
                class="flex items-center cursor-pointer text-xs sm:text-sm font-mono text-zinc-400 tracking-tight"
            >
                andre_OS
            </a>
        </header>

        <main class="flex flex-1 overflow-auto">
            <ToolLoader name={name} client:load />
        </main>
    </div>
</Layout>
