---
import Layout from "../../layout/Layout.astro";
import Header from "@/components/layout/Header.astro";
import { getPostBySlug } from "@/database/post/queries";
import { ChevronLeft, Github } from "lucide-preact";
import { loadTool } from "@/tools";

const { slug } = Astro.params;

const post = await getPostBySlug(slug || "");
const Tool = await loadTool(post?.tool_name || "");

if (!Tool || !post) {
    return Astro.redirect("/");
}

Astro.response.headers.set(
    "Cache-Control",
    "public, max-age=60, s-maxage=600, stale-while-revalidate=30",
);
---

<Layout title={post.title + " | andre_OS"}>
    <div class="min-h-screen overflow-hidden" id="app-root">
        <header
            class="w-full bg-zinc-950/80 backdrop-blur-md border-b border-zinc-800 h-14 flex items-center px-4 md:px-6 justify-between"
        >
            <a
                href="/"
                class="flex text-xs sm:text-sm items-center justify-start gap-2 rounded-md hover:border-zinc-600 hover:bg-zinc-800 transition-colors text-zinc-400 hover:text-white group"
            >
                <ChevronLeft
                    size={16}
                    class="group-hover:-translate-x-0.5 transition-transform"
                />
                Home
            </a>

            <div
                class="flex items-center text-xs sm:text-sm font-mono text-zinc-100 font-semibold tracking-tight"
            >
                {post.tool_name}
            </div>
            <a
                href="/"
                class="flex items-center cursor-pointer text-xs sm:text-sm font-mono text-zinc-400 tracking-tight"
            >
                andre_OS
            </a>
        </header>

        <main class="flex-1 overflow-auto">
            <Tool />
        </main>
    </div>
</Layout>
