---
interface Props {
  text: string;
  colorClass: string;
}

const { text, colorClass } = Astro.props;
---

<span
  class={`px-2 py-0.5 text-[10px] font-mono border rounded-sm uppercase tracking-wider ${colorClass}`}
>
  {text}
</span>
